/* 
<!---------------------------------- Start delivery ----------------------------------------------->
 */
.container .cartInfo {
  display: block;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container .cartInfo .cartStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 174px;
}
.cartstatusIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 158px;
  height: 48px;
  color: var(--main-color);
  font-size: 16px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 24px;
  border: 0.5px solid #dbdee7;
}

.cartstatusIndicator:nth-child(1) {
  border-radius: 6px 0px 0px 6px;
}
.cartstatusIndicator:nth-child(4) {
  border-radius: 0px 6px 6px 0px;
}

.cartstatusIndicator:nth-child(2) {
  background-color: var(--bg-color);
  border: none;
  color: var(--text-color);
}

.cartInfo h1 {
  color: var(--main-color);
  text-align: center;
  font-size: 46px;
  font-style: var(--font-style);
  font-weight: 900;
  line-height: 64px;
  margin-bottom: 66px;
}
.deliveryInputs {
  display: block;
}

.deliveryInputs .gridContainer {
  display: grid;
  grid-template-columns: repeat(1fr 2fr 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}

.deliveryInputs .gridContainer .gridItem {
  text-align: left;
}

.gridItem label {
  display: none;
}

.gridContainer .gridItem input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  color: var(--main-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  border: 1px solid #dbdee7;
  border-radius: 6px;
}

.deliveryInputs .ctaCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
  margin-bottom: 113px;
}

.deliveryInputs .ctaCart p {
  color: var(--main-color);
  font-size: 18px;
  font-style: var(--font-style);
  font-weight: 400;
  line-height: 32px;
}
.deliveryInputs .ctaCart p a,
.deliveryInputs .ctaCart p a i {
  color: var(--main-color);
  margin-right: 10px;
  text-align: center;
}

.ctaCart .submitButton {
  border-radius: 6px;
  width: 293px;
  height: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 34px;
  border: none;
}
.ctaCart .submitButton:hover {
  background-color: #45a049;
}

.error {
  border: 4px solid red;
}

#deliveryGridContainer {
  position: relative;
}
.custom-alert {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
  border: 1px solid #ccc;
  padding: 20px;
  min-width: 20%; 
  min-height: 30%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 5px;
}

.custom-alert-content {
  text-align: center;
}

.custom-alert-content span {
  display: block;
  margin-bottom: 15px;
}

/* Style for the OK button */
#customAlertOkButton {
  width: 100%;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

/* Style for the OK button on hover */
#customAlertOkButton:hover {
  background-color: #45a049;
}

/* 
<!---------------------------------- Start delivery ----------------------------------------------->
 */

/* 
<!---------------------------------- Start media query ----------------------------------------------->
 */
/* Desktop container utility class: */
/* xl */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    .cartstatusIndicator:nth-child(1),
    .cartstatusIndicator:nth-child(3),
    .cartstatusIndicator:nth-child(4) {
      display: none;
    }
    .cartstatusIndicator:nth-child(2) {
      border-radius: 6px 6px 6px 6px;
      margin: o auto;
      min-width: 200px;
    }
    .cartInfo .cartStatus {
      padding: 75px;
    }
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
    input#address {
      width: 100%;
    }
    .gridContainer {
      margin: 0 20px 40px 20px;
    }
    .submitButton {
      margin: 40px 0;
      width: 100%;
    }
    .ctaCart {
      display: block;
      margin: 0 auto;
    }
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}

/* Mobile container utility class: */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
/* 
<!---------------------------------- End media query ----------------------------------------------->
 */
